.nav-item{
    margin-left: 30px;
    margin-right: 30px;
}

#iPhone13-pro{
    background-image: url(hero_iphone13pro_avail__iy77cld0zwii_largetall.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: auto;
    height: 100%;  
}

#iPhone13{
background-image: url(hero_iphone13pro_avail__iy77cld0zwii_largetall.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
width: 100%;
height: auto;
}


#background{
background-image: url(promo_studiodisplay_avail__d1cx9j73ooq6_large.jpg);
background-repeat: no-repeat;
background-position: center center;
background-size: cover;
width: 50%;
height: auto;
}

#ipad-text{
    position: absolute;
    top: 90px;
    left: 300px;;
}

#MacStudio{
    background-image: url(promo_macstudio_avail__byhwkp0o4gty_large.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%;
    height: auto;
}

#iPhone13{
    background-image: url(promo_iphone13_avail__frc36u35m0ii_large.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%;
    height: auto;
}

#watch{
    background-image: url(promo_watch__fo7j0tnywi2q_large.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%;
    height: auto;
}

#AirPods{
    background-image: url(tile_airpods__fuv6vgn42y2q_large.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%;
    height: auto;
}

#TV{
    background-image: url(promo_tile_tv4k__cbz6fpnn6kz6_large.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 50%;
    height: auto;
}

